.login-card {
    width: 300px;
    height: 200px;
    margin: 200px auto !important;
    display: flex;
    padding: 15px !important;
    justify-content: center;

    h2 {
        margin-bottom: 20px;
    }
}